:root {
    --scrollbar-color: #2b8cb6;
}

#agent-list {
    display: flex;
    flex-wrap: nowrap;
}

#agent-list li {
    flex: 0 0 auto;
}

.darkmode--activated img{
    isolation: isolate !important;
}

.darkmode--activated .isolate-nightmode{
    color: white;
}

.darkmode-toggle {
    z-index: 500;
}

.darkmode--activated .btn-chat-open{
    color: white;
}

.simplebar-scrollbar::before {
    background-color: var(--scrollbar-color) !important;
}

