#agent-list {
    display: flex;
    flex-wrap: nowrap;
}

#agent-list li {
    flex: 0 0 auto;
}

.dark-mode img {
    filter: brightness(100%) !important; /* Adjust the filter properties as desired */
}

.darkmode-layer, .darkmode-toggle {
    z-index: initial !important;
  }

.os-scrollbar .os-theme-custom {
    --os-track-bg: #2b8cb6 !important;
}
